<h3>Top Heroes</h3>
<div class="grid grid-pad">
  <a
    *ngFor="let hero of heroes"
    class="col-1-4"
    routerLink="/detail/{{ hero.id }}"
  >
    <div class="module hero">
      <h4>{{ hero.name }}</h4>
    </div>
  </a>
</div>

<label> Select Mode </label>
<select [(ngModel)]="mode">
  <option value="year">Year</option>
  <option value="decade">Decade</option>
</select>
<label
  >Show Today Button <input type="checkbox" [(ngModel)]="showToday"
/></label>

<h1>React Component Start</h1>

<calendar-react
  [mode]="mode"
  [showToday]="showToday"
  (onChange)="onChange()"
>
</calendar-react>
<h1>React Component End</h1>
<app-hero-search></app-hero-search>
